<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.workout.renedix.renedixworkout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".setup.cardio.CardioExerciseListFragment"
            android:label="@string/title_cardioexercise_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.workout.renedix.renedixworkout.MainActivity" />
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.workout.renedix.renedixworkout.MainActivity" />
        </activity>
        <activity
            android:name=".setup.resistance.ResistanceExerciseListFragment"
            android:label="@string/title_resistanceexercise_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.workout.renedix.renedixworkout.MainActivity" />
        </activity>
        <activity
            android:name=".setup.workout.WorkoutListFragment"
            android:label="@string/title_workout_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.workout.renedix.renedixworkout.MainActivity" />
        </activity>
        <activity
            android:name=".setup.cardio.CardioExerciseForm"
            android:label="Cardio Exercise"
            android:parentActivityName=".setup.cardio.CardioExerciseListFragment">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".setup.cardio.CardioExerciseListFragment" />
        </activity>
        <activity
            android:name=".setup.resistance.ResistanceExerciseForm"
            android:label="Resistance Exercise"
            android:parentActivityName=".setup.resistance.ResistanceExerciseListFragment">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".setup.resistance.ResistanceExerciseListFragment" />
        </activity>
        <activity
            android:name=".setup.workout.WorkoutForm"
            android:label="Workout"
            android:parentActivityName=".setup.workout.WorkoutListFragment">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".setup.workout.WorkoutListFragment" />
        </activity>
        <activity android:name=".setup.workout.AddExerciseActivity">
        </activity>
    </application>

</manifest>