<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.workout.renedix.renedixworkout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".setup.cardio.CardioExerciseListActivity"
            android:label="@string/title_cardioexercise_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.workout.renedix.renedixworkout.MainActivity" />
        </activity>
        <activity
            android:name=".setup.cardio.CardioExerciseDetailActivity"
            android:label="@string/title_cardioexercise_detail"
            android:parentActivityName=".setup.cardio.CardioExerciseListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".setup.cardio.CardioExerciseListActivity" />
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.workout.renedix.renedixworkout.MainActivity" />
        </activity>
        <activity
            android:name=".setup.resistance.ResistanceExerciseListActivity"
            android:label="@string/title_resistanceexercise_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.workout.renedix.renedixworkout.MainActivity" />
        </activity>
        <activity
            android:name=".setup.resistance.ResistanceExerciseDetailActivity"
            android:label="@string/title_resistanceexercise_detail"
            android:parentActivityName=".setup.resistance.ResistanceExerciseListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".setup.resistance.ResistanceExerciseListActivity" />
        </activity>
        <activity
            android:name=".setup.workout.WorkoutListActivity"
            android:label="@string/title_workout_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.workout.renedix.renedixworkout.MainActivity" />
        </activity>
        <activity
            android:name=".setup.workout.WorkoutDetailActivity"
            android:label="@string/title_workout_detail"
            android:parentActivityName=".setup.workout.WorkoutListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".setup.workout.WorkoutListActivity" />
        </activity>
        <activity
            android:name=".form.CardioExerciseForm"
            android:label="Cardio Form"
            android:parentActivityName=".setup.cardio.CardioExerciseListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".setup.cardio.CardioExerciseListActivity"/>
        </activity>
    </application>

</manifest>